<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://kit.fontawesome.com/bc5fb07b3b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="/theme/css/style.css" type="text/css" rel="stylesheet" />
    
</head>

<body>
    <header id="header"></header>
    {% include 'app/main/header.html' %}
    <section id="container">
        <div id="page-header">
            <h1 id="page-heading">EDIT PURCHASE REQUEST</h1>
        </div>
        <div id="main-header">
            <h1 id="main-heading">Welcome to : Chal Charkha</h1>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                EDIT PURCHASE REQUEST DETAILS
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>PR No</label>
                            <input type="text" class="form-control" id="exampleInputsupplername1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>PR Item</label>
                            <input type="text" class="form-control" id="exampleInputsupplername1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" class="form-control" id="exampleInputhescription1"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" id="exampleInputhescription1"
                                aria-describedby="emailHelp" placeholder="Enter Description">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Location</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected> Location</option>
                                <option value="1">Supplier-name1</option>
                                <option value="2">Supplier-name2</option>
                                <option value="3">Supplier-name3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Requistioner</label>
                            <input type="text" class="form-control" id="exampleInputsupplername1"
                                aria-describedby="emailHelp" placeholder="Enter Requistioner">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="form-group">
                            <label>Supplier Code</label>
                            <input type="text" class="form-control" id="exampleInputhescription1"
                                aria-describedby="emailHelp" placeholder="Enter Supplier Code">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <!-- Button trigger modal -->


                    <!-- Modal -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Supplier Name</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Supplier</option>
                                <option value="1">Supplier-name1</option>
                                <option value="2">Supplier-name2</option>
                                <option value="3">Supplier-name3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Item Count</label>
                            <input type="text" class="form-control" id="exampleInputsupplieraddress1"
                                aria-describedby="emailHelp" placeholder="Enter Item Count">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>GST</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected> GST</option>
                                <option value="1">Supplier-name1</option>
                                <option value="2">Supplier-name2</option>
                                <option value="3">Supplier-name3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>GST %</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected> GST %</option>
                                <option value="1">Supplier-name1</option>
                                <option value="2">Supplier-name2</option>
                                <option value="3">Supplier-name3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Expected Date Of Arrival</label>
                            <input type="date" class="form-control" id="exampleInputhescription1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                   
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark</label>
                            <input type="text" class="form-control" id="exampleInputremark1"
                                aria-describedby="emailHelp" placeholder="Enter Remark">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                ITEM DETAILS
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PR No</th>
                            <th scope="col">PR Line Item</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Item Size </th>
                            <th scope="col">Item Color</th>
                            <th scope="col">Unit Measure</th>
                            <th scope="col">Item Quantity</th>
                            <th scope="col">Base Price</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="PRadditem1">
                        <tr>
                            <th><input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                aria-describedby="emailHelp"></th>
                                <th><input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                    aria-describedby="emailHelp"></th>
                            <th scope="row"><input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                aria-describedby="emailHelp"></th>
                            <th> <input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                aria-describedby="emailHelp"></th>
                            <th> <input type="email" class="form-control mb-2" id="exampleInputEmail1"
                                aria-describedby="emailHelp"></th>
                            <th><select class="form-select" aria-label="Default select example">
                                <option selected> Measure</option>
                                <option value="1">Supplier-name1</option>
                                <option value="2">Supplier-name2</option>
                                <option value="3">Supplier-name3</option>
                            </select>
                            </th>
                            <th><input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </th>
                            <th><input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </th>
                            <th>
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </th>

                        </tr>

                    </tbody>
                </table>
                <div class="col-md-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="PRaddItembutton">Add Item</button>
                    </div>
                </div>
            </div>
            
        </div>
        <a href="#" class="btn btn-primary">Submit</a>
    </section>
    {% include 'app/main/footer.html' %}
</body>

</html>